#personal .sv-footer__prev-btn, #personal .sv-footer__next-btn, #personal .sv-footer__complete-btn {
    background-color:#FF9724 !important;
    font-size: 175%;
}

#personal .sv-footer__prev-btn{
    position:relative;
    left:5%
}

#personal .sv-container-modern {
    margin: 0 auto;
}

#personal .sv-title {
    text-align: left;
    /* padding: 50px; */
    font-size: 190%;
    border-bottom: 0;
    width: 280%;
}

#personal .sv-page__title {
    /*margin-top:25px !important;*/
    margin-bottom: 10px;
    padding-left: 0.293em;
    font-size: 300% !important;
}

@media(max-height: 1080px)
{
    #personal .sv-title{
        font-size: 150%;
    }
    #personal .sv-page__title{
        font-size: 265% !important;
    }
    #personal .sv-dropdown {
        font-size: 125% !important;
    }
    #personal .sv-selectbase__label {
        font-size: 125% !important;
    }
    #personal .sv-action-bar{
        margin-top: 10px;
    }
}
@media(max-height: 900px)
{
    #personal .sv-page__title{
        font-size: 220% !important;
    }
    #personal .sv-title{
        font-size: 120%;
    }
}


#personal .sv-question {
    overflow:hidden;
    box-sizing: border-box;
    font-family: inherit;
}

#personal .sv_qstn .sv-q-column-2, #personal .sv-question .sv-q-column-2 {
    /*width: 30%;*/
    width: 17%;
    padding-right: 0 !important;
    box-sizing: border-box;
    word-break: break-word;
    /* padding-top: 25px; */
    font-size: 120%;
    text-align: center;
    margin: auto;
    border-bottom: 0;
    display: inline-block;
    float: right;
}

#personal .sv-dropdown {
    /* margin-top: 50px; */
    width: 70%;
    display: inline-block;
    float: right;
    font-size: 150%;
}

#T2 .h3
{
    padding-top: 20px !important;
}

#personal .sv-page__title {
    margin: 0;
    margin-bottom: 10px;
    padding-left: 0.293em;
    font-size: 200%;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #ff9724;
    padding-bottom: 10px;
    /*padding-top: 15px;*/
}

#personal .sv-row__question:first-child:last-child {
    flex: none !important;
    border-bottom: 1px solid #FF9724;
    /* padding-bottom: 25px; */
}

#personal .sv-row:not(:last-child) {
    padding-bottom: 0 !important;
}

#personal .sv-selectbase__label {
    position: relative;
    cursor: inherit;
    display: inline-block !important;
    margin-left: 41px;
    min-height: 30px;
    border: 1px;
    border-color: #FF9724;
    font-size: 175%;
}

#personal .sv-item__svg {
    position: relative !important;
}

#personal .sv-question__title--answer {
    background-color: transparent !important;
}

#personal .sv-item__control{
    display: none;
}

#personal .sv-footer.sv-action-bar {
    display: block;
    min-height: 2em;
    padding:0;
    margin-left: auto;
}
