#personal .sv-footer__prev-btn, #personal .sv-footer__next-btn, #personal .sv-footer__complete-btn {
    background-color:#FF9724 !important;
}

#personal .sv-container-modern {
    margin: 0 auto;
}

#personal .sv-title {
    text-align: left ;
    padding: 50px;
    font-size: 125%;
    border-bottom: 0;
    width: 250%;
}


#personal .sv_qstn .sv-q-column-2, #personal .sv-question .sv-q-column-2 {
    width: 30%;
    padding-right: 1em;
    box-sizing: border-box;
    word-break: break-word;
    padding-top: 25px;
    font-size: 175%;
    text-align: center;
    margin: auto;
    border-bottom: 0;
    display: inline-block;
    float: right;
}

#personal .sv-dropdown{
    margin-top:50px;
    width: 70%;
    display: inline-block;
    float: right;
}

#personal .sv-row__question:first-child:last-child {
    flex: none !important;
    border-bottom: 1px solid #FF9724;
    padding-bottom: 25px;
}

#personal .sv-selectbase__label {
    position: relative;
    cursor: inherit;
    display: inline-block !important;
    margin-left: 41px;
    min-height: 30px;
    border: 1px;
    border-color: #FF9724;
}

#personal .sv-item__svg {
    position: relative !important;
}

#personal .sv-question__title--answer {
    background-color: transparent !important;
}

#personal .sv-item__control{
    display: none;
}
